text{
    margin: 0%;
    padding: 0%;
}
header{

background-color: #5CBAFF;
}
header nav{

width: 43%;

margin: auto;
}
header nav ul{

list-style: none;

display: flex;

justify-content: space-between;

margin: 0px;

padding: 25px;
}
header nav ul li{

}
header nav ul li a{
    
color: white;
    
text-decoration: none;
    
font-size: 20px;
    
font font-weight: 6;
}
.content{display: flex;}
.left{

width: 40%;

background-color: #5CBAFF;
}
.left img{

width: 80%;

margin-left: 10%;
}
.right-form{

width: 60%;

background-color: #0093FF;

display: flex;

justify-content: center;

align-items: center;
}
.form-content{

width: 50%;

/* background-color: red; */

display: flex;

justify-content: center;

align-items: center;
}
.form-content h3{

color: white;
}
.form-content h4{

color: white;
}
.form-content p{

color: white;
}
.form-content form{

}
.form-content form input{
    
width: 100%;
    
padding: 10px 0 10px 5px;
    
margin: 5px 0;
}