*{
    margin: 0%;
    padding: 0%;
}
header{

border-bottom: 1px solid #e6e2e2;
}
.header-content{

width: 90%;

margin-left: 8%;

padding-top: 10px;

padding-bottom: 10px;

overflow: hidden;
}
.logo{

width: 20%;
float: left;
}
.logo img{
    
width: 35%;
}
nav{width: 30%;float: right;padding-top: 10px;}
nav ul{

list-style: none;

overflow: hidden;
}
nav ul li{

float: left;

margin-right: 10px;

font-size: 17px;

text-transform: capitalize;
}
.content{

width: 60%;

margin-left: 20%;

text-align: center;

margin-top: 23px;
}
.content h1{

text-align: center;

color: #008AFF;

font-size: 33px;

margin-top: -4px;
}
.content p{

text-align: center;

font-size: 17px;

padding: 16px;
}
.content img{
    
width: 71%;
}
.main-content{

}
.left-content{

width: 47%;

float: left;
}
.left-content h1{

}
.left-content p{

}
.right-content{

width: 47%;

float: right;

font-size: 22px;

text-align: left;
}
.lorem{
    
}
.feature{

width: 90%;

overflow: hidden;

margin: auto;

padding-bottom: 20px;

padding-top: 40px;
}
.feature1{

width: 30%;

float: left;

background-color: #FEEBED;
}
.feature1 h3{}
.feature1 p{

}
.feature1 img{text-align: center;}
.feature2{

width: 30%;

float: left;

margin-left: 5%;

background-color: #EAF9F4;
}
.feature2 img{

}
.feature2 h3{

}
.feature2 p{

}
.feature3{

width: 30%;

float: right;

background-color: #FEF8EA;
}
.feature3 h3{

}
.feature3 p{

}
.feature3 img{
    
}






