*{
    margin: 0%;
    padding: 0%;
}
header{

background-color: black;
}
.header-content{

width: 90%;

background-color: black;

overflow: hidden;

margin: auto;
}
.logo{

}
.logo img{

width: 14%;
}
.header-content ul{

margin-top: 10px;
}.header-content ul li{
    
color: white;
    
float: right;
    
list-style: none;
    
margin-right: 21px;
}
.main-content img{
    
width: 50%;
    
margin-left: 25%;
    
padding-top: 37px;
}
.feature1{
    
width: 90%;
    
margin-left: 5%;
    
padding-top: 50px;
}
.left-content{

width: 30%;

float: left;

text-align: center;
}
.left-content p{

}
.left-content img{
}
.middle-content{

float: left;

width: 30%;

margin-left: 5%;

text-align: center;
}
.middle-content img{

}
.middle-content p{

}
.right-content{

float: right;

width: 30%;

text-align: center;
}
.right-content p{

}
.right-content img{

}
.feature2{

width: 90%;

margin-left: 5%;

overflow: hidden;

padding-top: 98px;
}
.left-text{

width: 45%;

float: left;

text-align: center;
}
.left-text h3{

}
.left-text p{

}
.right-text{
    
width: 45%;
    
float: right;
    
text-align: center;
}
.right-text p{

}
.right-text h3{

}
.feature3{

width: 80%;

margin-left: 10%;

overflow: hidden;

padding-top: 56px;
}
.bottom-left-image{

float: left;
}
.bottom-left-image img{

}
.bottom-right-image{

float: right;
}
.bottom-right-image img{
    
}